{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="reportes-despues">
      <div class="col-lg-8 col-md-3 col-sm-8">
        <h2 class="card-title ">Miembros equipo _____</h4>
        <div class="card">
          <div class="card-body">
            <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion">
              <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title">Accordion 1</a>
                <div class="accordion-content" data-tab-content>
                  <form name="matriz">

                    <output name="text"> Nombre</output>
        
                    <output name="text"> Puntaje</output>
        
                    <output name="text"> Estado </output>
        
                    <input type="button" value="la flecha" onClick="metodo()"><BR>
        
                    <output name="text"> [[ dsff ]]</output>
        
                    <output name="text">     [[  sdfs ]]</output>
        
                    <output name="text">  [[fdfd ]] </output> <BR>
                    
                    <BR>
        
                    <output name="text"> Nombre</output>
        
                    <output name="text"> Puntaje</output>
        
                    <output name="text"> Estado </output><BR>
        
                    <output name="text"> [[ dsff ]]</output>
        
                    <output name="text">     [[  sdfs ]]</output>
        
                    <output name="text">  [[fdfd ]] </output> 
                    
                    <input type="button" value="3 punticos" onClick="metodo()"><BR>
        
                  </form>
                </div>
              </li>
              <!-- ... -->
            </ul>
          </div>
        </div>
      </div>


    </div>

{% endblock %}