{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="reportes-despues">
      <div class="col-lg-8 col-md-3 col-sm-8">
        <h2 class="card-title ">Miembros equipo _____</h4>
        <div class="card">
          <div class="card-body">
            <table class="table table-hover">
              <tbody>
                <button class="accordion">Section 1</button>
                <div class="panel">
                  <form name="matriz">

                    <output name="text"> Nombre</output>
        
                    <output name="text"> Puntaje</output>
        
                    <output name="text"> Estado </output>
                
                    <output name="text"> [[ dsff ]]</output>
        
                    <output name="text">     [[  sdfs ]]</output>
        
                    <output name="text">  [[fdfd ]] </output> <BR>
                    
                    <BR>
        
                    <output name="text"> Nombre</output>
        
                    <output name="text"> Puntaje</output>
        
                    <output name="text"> Estado </output><BR>
        
                    <output name="text"> [[ dsff ]]</output>
        
                    <output name="text">     [[  sdfs ]]</output>
        
                    <output name="text">  [[fdfd ]] </output> 
                            
                  </form>
                </div>

                <button class="accordion">Section 2</button>
                <div class="panel">
                  <form name="matriz">

                    <output name="text"> Nombre</output>
        
                    <output name="text"> Puntaje</output>
        
                    <output name="text"> Estado </output>
                
                    <output name="text"> [[ dsff ]]</output>
        
                    <output name="text">     [[  sdfs ]]</output>
        
                    <output name="text">  [[fdfd ]] </output> <BR>
                    
                    <BR>
        
                    <output name="text"> Nombre</output>
        
                    <output name="text"> Puntaje</output>
        
                    <output name="text"> Estado </output><BR>
        
                    <output name="text"> [[ dsff ]]</output>
        
                    <output name="text">     [[  sdfs ]]</output>
        
                    <output name="text">  [[fdfd ]] </output> 
                            
                  </form>
                </div>

                <button class="accordion">Section 3</button>
                <div class="panel">
                </div>

                <button class="accordion">Section 4</button>
                <div class="panel">
                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>

{% endblock %}