{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="reportes-despues">
      <div class="col-lg-8 col-md-3 col-sm-8">
        <h2 class="card-title ">Miembros equipo _____</h4>
        <div class="card">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
              <tr>
                <th></th>

              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox" id="title1" />
                    <label for="title1">Accordion One</label>
                    <div class="content">
                    <p>Your content goes here.</p>
                    </div>
                  </td>






                  <td><button class="editbtn">Opciones</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>

{% endblock %}