{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="dashboard">

      <h2 class="card-title">Equipo ____ - Miembro ____</h2>

      <h3 class="card-title" align="center">Información general</h3>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="label"> Nombre </td>
                <td class="label"> Puntaje promedio</td>
                <td class="label"> Estado </td>
              </tr>
              <tr>
                <td > [[ name ]] </td>
                <td > [[ score ]] </td>
                <td > [[ state ]] </td>
              </tr>
              <tr>
                <td class="label"> Nacimiento </td>
                <td class="label"> Empleado</td>
                <td class="label"> Telefono </td>
              </tr>
              <tr>
                <td > [[ born ]] </td>
                <td > [[ job ]] </td>
                <td > [[ phone ]] </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      
      <h3 class="card-title" align="center">Equipos</h3>
        <div class="card">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Puntaje</th>
                  <th>Estado</th>
                  <th>Participación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="center"> [[ nameE ]] </td>
                  <td align="center"> [[ scoreE ]] </td>
                  <td align="center"> [[ stateE ]] </td>
                  <td align="center"> [[ participationE ]] </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <h3 class="card-title" align="center">Proyectos</h3>
        <div class="card">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Puntaje</th>
                  <th>Estado</th>
                  <th>Participación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="center"> [[ nameP ]] </td>
                  <td align="center"> [[ scoreP ]] </td>
                  <td align="center"> [[ stateP ]] </td>
                  <td align="center"> [[ participationP ]] </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>

{% endblock %}