{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="dashboard">

      <h2 class="card-title">Ranking</h2>

      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="label" align="center"> Nombre </td>
                <td class="label" align="center"> Puntaje promedio</td>
                <td class="label" align="center"> Estado </td>
              </tr>
              <tr>
                <td class="label" align="center"> [[ name ]] </td>
                <td class="label" align="center"> [[ score ]] </td>
                <td class="label" align="center"> [[ state ]] </td>
              </tr>
              <tr>
                <td class="label" align="center"> Fecha de nacimiento </td>
                <td class="label" align="center"> Empleado </td>
                <td class="label" align="center"> Teléfono </td>
              </tr>
              <tr>
                <td class="label" align="center"> [[ dateBorn ]] </td>
                <td class="label" align="center"> [[ job ]] </td>
                <td class="label" align="center"> [[ phone ]] </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="label" align="center"> Nombre </td>
                <td class="label" align="center"> Puntaje promedio</td>
                <td class="label" align="center"> Estado </td>
              </tr>
              <tr>
                <td class="label" align="center"> [[ name ]] </td>
                <td class="label" align="center"> [[ score ]] </td>
                <td class="label" align="center"> [[ state ]] </td>
              </tr>
              <tr>
                <td class="label" align="center"> Fecha de nacimiento </td>
                <td class="label" align="center"> Empleado </td>
                <td class="label" align="center"> Teléfono </td>
              </tr>
              <tr>
                <td class="label" align="center"> [[ dateBorn ]] </td>
                <td class="label" align="center"> [[ job ]] </td>
                <td class="label" align="center"> [[ phone ]] </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="label" align="center"> Nombre </td>
                <td class="label" align="center"> Puntaje promedio</td>
                <td class="label" align="center"> Estado </td>
              </tr>
              <tr>
                <td class="label" align="center"> [[ name ]] </td>
                <td class="label" align="center"> [[ score ]] </td>
                <td class="label" align="center"> [[ state ]] </td>
              </tr>
              <tr>
                <td class="label" align="center"> Fecha de nacimiento </td>
                <td class="label" align="center"> Empleado </td>
                <td class="label" align="center"> Teléfono </td>
              </tr>
              <tr>
                <td class="label" align="center"> [[ dateBorn ]] </td>
                <td class="label" align="center"> [[ job ]] </td>
                <td class="label" align="center"> [[ phone ]] </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      


    </div>

{% endblock %}